:root {
    --rojo: #E50914;
    --fondo: #141414;
}


.box {
    /*    margin: 100px auto;
    width: 300px;
    height: 50px;*/
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.autor {
    font-family: sans-serif;
    color: bisque;
    font-size: 18px;
}

.fecha {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    font-size: 18px;
}

.galeria {
    color: #fff;
    font-size: 30px;
    width: 90%;
    margin: auto;
    border: 10em;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /*background: var(--fondo) !important;*/
    font-family: 'Open Sans', sans-serif !important;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

    header nav a:hover,
    header nav a.activo {
        color: #FFF;
    }

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.libro-principal {
    font-size: 18px;
    min-height: 40.62em;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url('../Images/fondo3.jpg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.libro-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.libro-principal .titulo {
    font-weight: 700;
    font-size: 3.12em;
    margin-bottom: 0.4em;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.libro-principal .descripcion {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
    color: antiquewhite;
}

    .libro-principal .boton,
    .btn-action-icon {
        background: rgba(0,0.1, 0.3);
        border: none;
        border-radius: 0.31em;
        padding: 0.93em 1.87em;
        color: #fff;
        margin-right: 1.25em;
        cursor: pointer;
        transition: .3s ease all;
        font-size: 1.12em;
    }
.link-action-icon {
    font-size: 15px;
}
.btn-action-icon {
    width: 100% !important;
    padding: 5px;
    margin: 0;
}

        .libro-principal .boton:hover {
            background: #fff;
            color: #000;
        }

        .btn-action-icon:hover {
            background: #fff;
            color: #000;
            border:solid 2px black;
        }
        .libro-principal .boton i{
            margin-right: 1.25em;
        }

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 35px;
    }

    header .contenedor {
        flex-direction: column;
        text-align: center;
    }

    .pelicula-principal {
        font-size: 18px;
    }

    .pelicula-principal .descripcion {
        max-width: 100%;
        text-align: justify;
        font-size: 35px;
    }
}

.logos {
    padding: 10px 0;
}

.alert {
    margin-top: 3rem !important;
    font-size: 15px;
}

.titulo-libro{
    color: black;
}

.titulo-seccion {
    margin-bottom: 20px;
}

#inpBusqueda, #BtnBuscar {
    display: none;
}

.frm-busqueda {
    display: inline-block;
}

.lista-generos {
    display: flex;
}
.lista-generos a{
    margin: 0 10px;
}

.panel-default .panel-heading {
    background-color: black;
    color: white;
}