
* {
    box-sizing: border-box;
    transition: .25s all ease;
}
body {
    background-color: #808B96;
    
}

.login-box {
    width: 740px;
    height: 940px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    position: relative;
    background-image: url(https://i.pinimg.com/736x/ac/d2/20/acd2208344780476b06dd7dc8d7fd0ec.jpg);
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
}


 

        .login-box h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 35px;
    }


    .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
    }

    .login-box input {
        width: 100%;
        margin-bottom: 20px;
    }

        .login-box input[type="text"], .login-box input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box input[type="submit"] {
            border: none;
            outline: none;
            height: 50px;
            background: #b80f22;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }

            .login-box input[type="submit"]:hover {
                cursor: pointer;
                background: #ffc107;
                color: #000;
            }

    .login-box a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgray;
    }

        .login-box a:hover {
            color: #fff;
        }
