@model IEnumerable<DgBooksDB.Libro>

@{
    ViewBag.UserAux = ViewBag.User;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inicio</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <link href="~/css/pantallla.css" rel="stylesheet" />

</head>
<body>*@
    <div class="wrapper">
        <section class="main-container">
            <div class="location" id="home">
                <h1 id="home">Popular en DgBook's'</h1>
                <div class="box">

                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <input type="text" name="intIdLibor" value="@Html.DisplayFor(modelItem => item.intIdLibor)" style="display:none" />

                                <button type="submit" ID="btnAceptar" class="buttons btnCardLibro" name="btnIs" value="Iniciar Sesión" onclick="btnAgregar_Click">
                                    <img src="@Html.DisplayFor(modelItem => item.strLinkImagenLibro)"
                                         width="210" height="300" alt="Galeria CSS 1" />
                                    <div>
                                        <h3 class="titulo-libro">@Html.DisplayFor(modelItem => item.NombreLibro)</h3>
                                    </div>
                                </button>
                            }
                        }
                    }

                </div>
            </div>
        </section>
    </div>
@*</body>
</html>*@
