@using DgBooks.Models;

@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (MySession.Current.MensageGeneral != null && MySession.Current.MensageGeneral != "")
{
    switch (MySession.Current.TipoMensage)
    {
        case "exito":
            <div class="alert alert-success" role="alert">@MySession.Current.MensageGeneral</div>
            break;
        case "error":
            <div class="alert alert-danger" role="alert">@MySession.Current.MensageGeneral</div>
            break;
        case "info":
            <div class="alert alert-primary" role="alert">@MySession.Current.MensageGeneral</div>
            break;
        default:
            <div class="alert alert-secondary" role="alert">@MySession.Current.MensageGeneral</div>
            break;
    }
}
else
{
    <div class="alert alert-primary" role="alert">Sin mensaje personalizado, si presenta errores en el sistema intente volver a ingresar.</div>
}

<input type="button" value="Volver" name="volver" onclick="history.back()" />




